body {
  background-color: #e6e6e6;
}

#buttons-box button {
  background: white;
  height: 32px;
  padding: 0 1rem;
  color: #6e6e6e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#buttons-box button:hover {
  color: #2e2e2e;
  background-color: #f3f3f3;
}
.hiddenMobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hiddenMobile {
    display: block;
  }
}
