body {
  background-color: #e6e6e6;
}

.listEl {
  border: 1px solid black;
}

#map {
  height: 400px;
  width: 1000px;
  padding-bottom: 20px;
}

#map-button-container {
  display: flex;
}

#buttons-box button {
  background: white;
  height: 32px;
  padding: 0 1rem;
  color: #6e6e6e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#buttons-box button:hover {
  color: #2e2e2e;
  background-color: #f3f3f3;
}
